body{
	display: flex;
	background: linear-gradient(-5deg #b9dada,white);
	color: black;
flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

}
header{background: linear-gradient(-5deg,#b9dada,white);
  
  height: 10vh;
 
  font-family: 'Macondo', cursive;
 font-size: 1em;

}

nav{
	   background: linear-gradient(-5deg,red,black);
       border-radius: inherit;
  
}


.div1{    
    color: black;
  }

.div2{ color: black;
   
     }

.div3{   color: black;
   }

.div4{color: black;
   ;
}
.contacto{


padding: 5px;


}

section{ background: linear-gradient(-5deg,red,white);
display: flex;

    flex-direction: column;
    align-items: center ;

}

aside{    background: linear-gradient(-5deg,white,#b9dada);
  background: linear-gradient(-5deg,##b9dada,white);
display: flex;
border-radius: 12%;
    flex-direction: column;
    align-items: center ;
  }

footer{ display: flex;
  flex-direction: column;
    align-items: center;}
   

.cas{background: linear-gradient(-5deg,red,white);
 display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-around;

}



}
.index{
    background: linear-gradient(-5deg,white,#b9dada);;
clear: both;
width:10%;
float: left;
margin: -1%;
padding: 7px;
box-sizing: border-box;
display: flex;
    flex-direction: row;

}

.contacto:hover{
   opacity: 0.8;
    height: 50%; 

}
.div1:hover{
   opacity: 0.8;
    height: 50%;
}
.div2:hover{
    content: "lo mejor";
opacity: 0.8;

    height: 50%;
}

.div3:hover{
    opacity: 0.8;
    height: 50%;
}
.div4:hover{
   opacity: 0.8;
    height: 50%;
}


.mapa{
    display: none;
}

.img{
    background: 20vw;
 width:91%;
 margin-left:5%;
}




    .dark{
        background: rgb(34, 31, 31);
        color: white;
    }
    .dark-header{
        background:rgb(62, 58, 58);
        color:rgb(231, 236, 192);
    }
    .dark-header:hover{
        background:rgb(86, 73, 73);
    }
}